:root {
  --bg: #00023E;
  --grad: #FFFAFF;
}
body {
  background: linear-gradient(to bottom right, #00023E, #132385);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  min-height: 100vh;
}
.mainSVG { 
  min-height: 100vh;
}

.dividerSVG {
  width:60%;
  min-height: 100%;
}